body {
  font-family: "Roboto";
  color: #434455;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
}
.headert {
  border-bottom: 1px solid #e7e9fc;
}

/* ЛОГО */
.logo > span {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.3;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
}

.logo {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.3;
  color: #2e2f42;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
}

.site-nav {
  font-weight: 500;
  list-style-type: none;
  display: flex;
  margin-left: 76px;
}
.site-nav .nav {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.site-nav .nav-flex:not(:last-child) {
  margin-right: 40px;
}

.nav {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.div-flex {
  display: flex;
  align-items: center;
}
.nav:hover,
.nav:focus {
  color: #404bbf;
}
.address-list {
  text-decoration: none;
  color: #434455;
}
.address-list-tel {
  text-decoration: none;
  color: #434455;
}

.address-list-item {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  /* margin-right: 40px; */
}
.address-list-item .nav-flex + .nav-flex {
  margin-left: 40px;
}

.address-list:hover,
.address-list:focus {
  color: #404bbf;
}
.holder {
  margin-left: auto;
}
/* Секция Герой */
.title {
  margin-top: 0;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  color: #ffffff;
  padding: 188px 473px 0 473px;
}
.thumbnail {
  text-align: center;
  background-color: #2e2f42;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
.btn-tiny {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 72px;
}
.btn-large {
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background: #f4f4fd;
  color: #4d5ae5;
  display: inline-block;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  min-width: 30px;
  padding: 12px 24px;
}
.btn-large:hover,
.btn-large:focus {
  background-color: #404bbf;
  color: #ffffff;
}
.btn {
  font-weight: 500;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  display: inline-block;
  min-width: 169px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 188px;
}
/* Секция1 */

.subject {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  padding-top: 120px;
  margin-bottom: 8px;
}
.item {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  list-style-type: none;
  margin-top: 0;
  padding-bottom: 120px;
  width: 264px;
  margin-right: 24px;
}
.aside {
  list-style-type: none;
  letter-spacing: 0.02em;
  display: flex;
}

/* Секция2 */
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  margin-top: 0;
}

.pic {
  list-style-type: none;
  margin-top: 0;
  padding-bottom: 240px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  padding-left: 0;
  /* margin-right: 24px; */
  /* border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc; */
}
.image {
  margin-right: 24px;
}
.image:last-child {
  margin-right: 0px;
}
/* Секция3 */
.thumb {
  text-decoration: none;
}

.headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}

.desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: #434455;
  margin: 0;
  margin-bottom: 80px;
}
.picture {
  list-style-type: none;
  margin-top: 0;
  padding-bottom: 120px;
  display: flex;
  /* margin-right: 24px; */
}
/* Футер */
.logo-desc {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  background-color: #2e2f42;
  text-decoration: none;
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 16px;
}
.logo-desc > span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-top: 100px;
  margin-bottom: 16px;
}
.footer {
  background-color: #2e2f42;
}
.items {
  color: #e7e9fc;
  background-color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0px;
  padding-bottom: 100px;
  width: 264px;
}
/* Portfolio */

.item-list {
  width: 360px;
  margin-bottom: 48px;
  margin-right: 24px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}
.item-list:nth-child(3n) {
  margin-right: 0px;
}
